<div>
    <h1 class="mt-2 mb-4 text-center">Empresa</h1>
    <span class="float-right">
    <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo</button>
    </span>
    <table class="table table-striped" *ngIf = "companies$ | async as companies; else loading">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Empresa</th>
          <th scope="col">CNPJ</th>
          <th scope="col">Email</th>
          <th scope="col">Telefones</th>
          <th scope="col">Endereço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let companies of companies">
          <th scope="row">{{ companies.id }}</th>
          <td>{{ companies.name }}</td>
          <td>{{ companies.document }}</td>
          <td>{{ companies.email }}</td>
          <td>
              Tel: {{ companies.phones.phone }}  Usuário:{{ companies.phones.username }}
          </td>
          <td>CEP: {{ companies.address.cep }} Rua: {{ companies.address.street }} N:{{ companies.address.number }}
              Cidade: {{ companies.address.city }} UF: {{ companies.address.state }}
          </td>
          <span class="float-right">

            <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(companies.id)">
              Atualizar
            </button>

            <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(companies)">
              Remover
            </button>

          </span>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <span>Carregando Empresas...</span>
    </ng-template>

  </div>
<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover essa Empresa?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>