<div>
    <h1 class="mt-2 mb-4 text-center">Empresa</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Empresa</th>
          <th scope="col">CNPJ</th>
          <th scope="col">Email</th>
          <th scope="col">Telefones</th>
          <th scope="col">Endereço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let companies of companies">
          <th scope="row">{{ companies.id }}</th>
          <td>{{ companies.name }}</td>
          <td>{{ companies.document }}</td>
          <td>{{ companies.email }}</td>
          <td>
            <p *ngFor="let phone of companies.phones">
              Tel: {{ phone.phone }}  Usuário:{{ phone.username }}
            </p>
          </td>
          <td>CEP: {{ companies.address.cep }} Rua: {{ companies.address.street }} N:{{ companies.address.number }}
              Cidade: {{ companies.address.city }} UF: {{ companies.address.state }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>