<div class="card ">
    <div class="card-header">
      <div class="float-left">
        <h4>Implantações</h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-primary" [routerLink]="['novo']">Nova Implantação</button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="table-responsive-xl">
      <table class="table" *ngIf="implements$ | async as implements; else loading" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">DT Est Inicial</th>
            <th scope="col">DT Esta Final</th>
            <th scope="col">DT Real Inicial</th>
            <th scope="col">DT Real Final</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let implements of implements">
            <td>{{ implements.id }}</td>
            <td>{{ implements.description }}</td>
            <td>{{ implements.dtExpectedInitial| date:'dd/MM/yyyy' }}</td>
            <td>{{ implements.dtExpected | date:'dd/MM/yyyy'}}</td>
            <td>{{ implements.dtInitial | date:'dd/MM/yyyy'}}</td>
            <td>{{ implements.dtRealized  | date:'dd/MM/yyyy'}}</td>
            <td>{{ implements.status }}</td>
            <span class="float-right mb-3">
              <button class="btn btn-outline-warning btn-sm" (click)="onEdit(implements.id)">
                Atualizar
              </button>
              <button class="btn btn-outline-danger btn-sm" (click)="onDelete(implements)">
                Remover
              </button>
              <button class="btn btn-outline-secondary btn-sm" (click)="onDetails()">
                Detalhe
              </button>
            </span>
          </tr>
        </tbody>
      </table>
      <ng-template #loading>
        <span>Carregando Implantações...</span>
      </ng-template>
    </div>
  </div>
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover essa Implantação?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
    </div>
  </ng-template>
 