<div class="card ">
    <div class="card-header">
      <div class="float-left">
        <h4>Módulo Implantação</h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-primary" >Novo Módulo</button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="table-responsive-xl">
      <table class="table" *ngIf="{implantationModulo: implantationModulo$ | async
                                    , usuario: usuario$ | async 
                                    , modulo: modulo$ | async 
                                  } as data 
                                  ; else loading" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">UserID</th>
            <th scope="col">Modulo ID</th>
            <th scope="col">Data Inicial</th>
            <th scope="col">Data Final</th>
            <th scope="col">Score</th>
            <th scope="col">Responsável</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
         <!--<tr *ngFor="let implantationModulo of implantationModulo">-->
            <td>{{ data.implantationModulo.id }}</td>
            <td>{{ data.usuario.name }}</td>
            <td>{{ data.modulo.description }}</td>
            <td>{{ data.implantationModulo.dtInitial | date:'dd/MM/yyyy' }}</td>
            <td>{{ data.implantationModulo.dtEnd | date:'dd/MM/yyyy'}}</td>
            <td>{{ data.implantationModulo.score }}</td>
            <td>{{ data.implantationModulo.userResponsible }}</td>
            <td>{{ data.implantationModulo.status }}</td>
            <span class="float-right mb-3">
              <button class="btn btn-outline-warning btn-sm" (click)="onEdit(implements.id)">
                Atualizar
              </button>
              <button class="btn btn-outline-danger btn-sm" (click)="onDelete(implements)">
                Remover
              </button>
              <!--<button class="btn btn-outline-secondary btn-sm" (click)="onDetails()">
                Detalhe
              </button>-->
            </span>
          <!--</tr>-->
        </tbody>
      </table>
      <ng-template #loading>
        <span>Carregando Implantações...</span>
      </ng-template>
    </div>
  </div>
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover essa Implantação?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
    </div>
  </ng-template>
 